<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.EquipScrapMapper">
    <insert id="save" parameterType="com.example.domain.EquipScrap" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_equip_scrap
        (
            equip_info_id,
            type_id,
            scrap_time,
            scrap_cause,
             io_cost
         )
        VALUES
        (
          #{equipScrap.equipInfoId},
          #{equipScrap.typeId},
          #{equipScrap.scrapTime},
          #{equipScrap.scrapCause},
          #{equipScrap.ioCost}
        )

    </insert>

    <update id="update">
        UPDATE t_equip_scrap
        SET
            equip_info_id = #{equipScrap.equipInfoId},
            type_id = #{equipScrap.typeId},
            scrap_time = #{equipScrap.scrapTime},
            scrap_cause = #{equipScrap.scrapCause},
            io_cost = #{equipScrap.ioCost}
            WHERE id = #{equipScrap.id}
    </update>

    <delete id="del" parameterType="java.lang.Integer">
        DELETE FROM t_equip_scrap where id = #{id}
    </delete>

    <select id="find" parameterType="com.example.domain.EquipScrap" resultType="com.example.domain.EquipScrap">
        SELECT
            t.id            AS id,
            t.equip_info_id AS equipInfoId,
            t.type_id       AS typeId,
            t.scrap_time    AS scrapTime,
            t.scrap_cause   AS scrapCause,
            t.io_cost       AS ioCost,
            t1.name         AS equipName,
            t1.status       AS status,
            t2.name         AS typeName
        FROM
          t_equip_scrap t
        INNER JOIN t_equip_info t1 ON t.equip_info_id = t1.id
        INNER JOIN t_type t2 ON t.type_id = t2.id
        AND t1.status = 2
        <if test="equipName != null and equipName != ''">
            AND t1.name = #{equipName}
        </if>
        <if test="typeName != null and typeName != ''">
            AND t2.name = #{typeName}
        </if>
        <if test="beginTime != null and beginTime != ''">
            AND t.scrap_time &gt;= #{beginTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND t.scrap_time &lt;= #{endTime}
        </if>

    </select>
</mapper>