<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.EquipMapper">
    <insert id="save" parameterType="com.example.domain.EquipVO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_equip
        (
            name,
            type_no,
            serial_no,
            factory_time,
            img_path,
            type_id,
            brand,
            factory,
            buy_time,
            crate_time,
            update_time,
            remark
        )
        VALUES(
        #{equipVO.equipName},
        #{equipVO.typeNo},
        #{equipVO.serialNo},
        #{equipVO.factoryTime},
        #{equipVO.imgPath},
        #{equipVO.typeId},
        #{equipVO.brand},
        #{equipVO.factory},
        now(),
        now(),
        now(),
        #{equipVO.remark}
        )
    </insert>

    <update id="update">
        UPDATE t_equip
        SET
            name=#{equipVO.equipName},
            type_no=#{equipVO.typeNo},
            serial_no=#{equipVO.serialNo},
            factory_time=#{equipVO.factoryTime},
            img_path=#{equipVO.imgPath},
            type_id=#{equipVO.typeId},
            brand=#{equipVO.brand},
            factory=#{equipVO.factory},
            buy_time=#{equipVO.buyTime},
            update_time=now(),
           remark= #{equipVO.remark},
           status= #{equipVO.status}
        WHERE id = #{equipVO.id}
    </update>

    <delete id="delById" parameterType="java.lang.Integer">
        DELETE FROM t_equip WHERE id=#{id}
    </delete>

    <select id="find" parameterType="com.example.domain.EquipVO" resultType="com.example.domain.EquipVO">
        SELECT
        t.name AS equipName,
        y.name AS typeName,
        type_no,
        serial_no,
        factory_time,
        img_path,
        type_id,
        brand,
        factory,
        buy_time,
        remark,
        status
        FROM t_equip t, t_type y
        WHERE t.type_id = y.id
        <if test="equipName != null and equipName != ''">
            AND t.name=#{equipName}
        </if>
        <if test="typeName != null and typeName != ''">
            AND t.type_id=#{typeId}
        </if>
        <if test="beginTime != null and beginTime != ''">
            AND t.buy_time &gt;= #{beginTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND t.buy_time &lt;= #{endTime}
        </if>
    </select>
</mapper>