<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.EquipMapper">
    <insert id="save" parameterType="com.example.domain.EquipVO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_equip
        (
            name,
            type_no,
            serial_no,
            factory_time,
            img_path,
            type_id,
            brand,
            factory,
            buy_time,
            crate_time,
            update_time,
            remark

        )
        VALUES(
        #{equipName},
        #{typeNo},
        #{serialNo},
        #{factoryTime},
        #{imgPath},
        #{typeId},
        #{brand},
        #{factory},
        #{buyTime},
        now(),
        now(),
        #{remark}
        )
    </insert>

    <update id="update" parameterType="com.example.domain.EquipVO">
        UPDATE t_equip
        SET
            name=#{equipName},
            type_no=#{typeNo},
            serial_no=#{serialNo},
            factory_time=#{factoryTime},
            img_path=#{imgPath},
            type_id=#{typeId},
            brand=#{brand},
            factory=#{factory},
            buy_time=#{buyTime},
            now(),
           remark= #{remark},
           status= #{status}
        WHERE id = #{id}
    </update>

    <delete id="delById" parameterType="java.lang.Integer">
        DELETE FROM t_equip WHERE id=#{id}
    </delete>

    <select id="find" parameterType="com.example.domain.EquipVO" resultMap="com.example.domain.EquipVO">
        SELECT
        name AS equipName,
        type_no,
        serial_no,
        factory_time,
        img_path,
        type_id,
        brand,
        factory,
        buy_time,
        remark,
        status
        FROM t_equip t, t_type y
        WHERE t.type_id = t.id
        <if test="#{equipName != null and equipName != ''}">
            AND t.name=#{equipName}
        </if>
        <if test="#{typeId != null and typeId != ''}">
            AND t.type_id=#{typeId}
        </if>
        <if test="#{beginTime != null and beginTime != ''}">
            AND t.buy_time &gt;= #{beginTime}
        </if>
        <if test="#{endTime != null and endTime != ''}">
            AND t.buy_time &lt;= #{endTime}
        </if>
    </select>
</mapper>