<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">

    <!-- 二级缓存 -->
    <cache readOnly="true" size="512"/>

    <resultMap id="user" type="com.example.domain.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="ctm" property="ctm" jdbcType="TIMESTAMP"/>
        <result column="contact_address" property="contactAddress" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_name, password, status, email
    </sql>


    <select id="getUserByName" parameterType="user" resultMap="user">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_user
        WHERE user_name = #{user.userName}
    </select>

    <select id="getUser" parameterType="java.lang.String" resultMap="user">
        SELECT id, user_name, password
        FROM tb_user
        WHERE user_name = #{userName} AND password = #{password}
    </select>

    <select id="queryAll" resultMap="user">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_user

    </select>

    <select id="getUserById" resultMap="user">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_user
        <if test="#{id} != null">
            WHERE id = #{id}
        </if>

    </select>

    <update id="updateByUser" parameterType="com.example.domain.User">
        UPDATE tb_user
        SET
            user_name=#{user.userName},
            password=#{user.password},
            email=#{user.email}
        WHERE id=#{user.id}
    </update>

    <insert id="add" parameterType="com.example.domain.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_user
        (user_name,
        password,
        ctm,
        email
        )
        VALUES(
        #{user.userName},
        #{user.password},
        now(),
        #{user.email}
        )

    </insert>

   <delete id="deleteById">
      DELETE FROM tb_user WHERE  id=#{id}
   </delete>

    <update id="updatePwd" >
        UPDATE tb_user
        SET password = #{password}
        WHERE id = #{id}
    </update>

    <select id="searchCount">
        select <include refid="Base_Column_List"/>
        FROM tb_user
    </select>
</mapper>